<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.uniba.di.sms1920.giochiapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewHome.Profile"></activity>
        <activity android:name=".NewHome.SetUserName" />
        <activity android:name=".NewHome.GameList" />
        <activity android:name=".NewHome.GameScoreboard" />
        <activity android:name=".NewHome.GlobalScoreboard" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Game2048.MainActivity2048" />
        <activity android:name=".Frogger.MainActivity" />
        <activity
            android:name=".EndlessRun.MainActivityrun"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Helicopter.Game"
            android:screenOrientation="landscape" />
        <activity android:name=".Tetris.Tetris" />
    </application>

</manifest>